*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	scroll-behavior:smooth;
}
#home{
	background:rgba(0,0, 0, 0.9) url("images/home-bg.jpg");
	background-size:cover;
	background-position:center center;	
	align-items:center;
	justify-content:left;
	background-attachment:fixed;
}
#pricing{
	
}
#contact{
	background:url("images/contact (2.jpg");
	background-size:cover;
}
#about{
	
}
.my-text{
	font-weight:700;
	text-shadow:2px 1px 3px #808080;
}
section{
	min-height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;	
}
#services{
	
}

#active{
	border-bottom:3px solid white;
}
.cercal{
	height:200px;
	width:200px;
}
.my-col{
	background:red;
}
.my-mr{
	align-items:center;
	justify-content: center;
	display:flex;
}

.home-dec{
	color:white
}
.cont, .cont2{
	height:100px;
	width:250px;
	background:#C0C0C0;
	display:inline-table;
}
.cont-txt{
	display:table-cell;
	vertical-align:middle;
	color:white
}
/*contact*/
.my-form{
	border-top:none;
	border-right:none;
	border-left:none;
	border-color:#ffff00;
	box-shadow:10px 3px 3px#888888;
}
#mynv{
	background:-webkit-linear-gradient(left,rgba(0,204, 255, 0.9),rgba(51,51, 204, 0.9));
	background:-moz-linear-gradient(left,rgba(0,204, 255, 0.9),rgba(51,51, 204, 0.9));
	background:-ms-linear-gradient(left,rgba(0,204, 255, 0.9),rgba(51,51, 204, 0.9));
}
.mynv{
	background:-webkit-linear-gradient(left,rgba(0,204, 255, 0.9),rgba(51,51, 204, 0.9));
	background:-moz-linear-gradient(left,rgba(0,204, 255, 0.9),rgba(51,51, 204, 0.9));
	background:-ms-linear-gradient(left,rgba(0,204, 255, 0.9),rgba(51,51, 204, 0.9));
}